{% set currentRoute = app.request.attributes.get('_route') %}
{% set currentParameters = app.request.attributes.get('_route_params') %}

<header class="bg-[#FAF7EF]">
    <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between py-5 px-6 lg:px-8">
        <div class="flex lg:flex-1">
            <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                <span class="sr-only">Conciergerie In Paris</span>
                <img src="{{ asset('medias/logos/logo.svg') }}" width="300" height="68" loading="eager" alt="Logo Conciergerie In Paris Desktop" class="hidden shrink-0 lg:block h-7 w-auto" />
                <img src="{{ asset('medias/logos/logo_short.svg') }}" width="153" height="150" loading="eager" alt="Logo Conciergerie In Paris Mobile" class="block lg:hidden h-7 w-auto" />
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center bg-accent justify-center rounded-full p-2 text-gray-700 transition duration-100 hover:bg-accent/70">
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="#" class="text-sm/6 font-medium text-gray-900 hover:text-gray-500 transition duration-100">Product</a>
            <a href="#" class="text-sm/6 font-medium text-gray-900 hover:text-gray-500 transition duration-100">Features</a>
            <a href="#" class="text-sm/6 font-medium text-gray-900 hover:text-gray-500 transition duration-100">Marketplace</a>
            <a href="#" class="text-sm/6 font-medium text-gray-900 hover:text-gray-500 transition duration-100">Company</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="#" class="text-xs font-semibold text-white bg-primary rounded-full hover:bg-primary-hover transition duration-100 py-3 px-4">Obtenir mon estimation</a>
            {% if app.request.locale == 'en' %}
                <a href="{{ path(currentRoute : currentParameters|merge({'_locale': 'fr'})) }}" class="text-sm/6 font-semibold text-gray-900 py-2.5 px-3.5 flex items-center gap-x-2">
                    {{ ux_icon('flag:bl-4x3', {'class':'size-5'}) }}
                </a>
            {% endif %}
            {% if app.request.locale == 'fr' %}
                <a href="{{ path(currentRoute: currentParameters|merge({'_locale': 'en'})) }}" class="text-sm/6 font-semibold text-gray-900 py-2.5 px-3.5 flex items-center gap-x-2">
                    {{ ux_icon('flag:gb-4x3', {'class':'size-5'}) }}
                </a>
            {% endif %}
        </div>
    </nav>
    <el-dialog>
        <dialog id="mobile-menu" class="m-0 p-0 backdrop:bg-transparent lg:hidden">
            <div tabindex="0" class="fixed inset-0 focus:outline focus:outline-0">
                <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-background py-5 px-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                    <div class="flex items-center justify-between">
                        <a href="#" class="-m-1.5 p-1.5">
                            <span class="sr-only">Conciergerie In Paris</span>
                            <img src="{{ asset('medias/logos/logo_short.svg') }}" width="300" height="68" loading="eager" alt="Logo Conciergerie In Paris Mobile" class="shrink-0 lg:block h-7 w-auto" />
                        </a>
                        <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-full p-2 hover:bg-accent/70 transition duration-100 text-gray-700 bg-accent">
                            <span class="sr-only">Close menu</span>
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/10">
                            <div class="space-y-2 py-6">
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-medium text-gray-900 hover:bg-white transition duration-100">Product</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-medium text-gray-900 hover:bg-white transition duration-100">Features</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-medium text-gray-900 hover:bg-white transition duration-100">Marketplace</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-medium text-gray-900 hover:bg-white transition duration-100">Company</a>
                            </div>
                            <div class="py-6">
                                <a href="#" class="-mx-3 block px-3 py-2.5 text-base/7 font-semibold text-white text-center hover:bg-gray-50 transition duration-100 rounded-full bg-primary hover:bg-primary-hover">Obtenir une estimation</a>
                            </div>
                        </div>
                    </div>
                </el-dialog-panel>
            </div>
        </dialog>
    </el-dialog>
</header>
