{% set currentRoute = app.request.attributes.get('_route') %}
{% set currentParameters = app.request.attributes.get('_route_params') %}

<header class="bg-[#FAF7EF]">
    <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between py-5 px-6 lg:px-8">
        <div class="flex lg:flex-1">
            <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                <span class="sr-only">Conciergerie In Paris</span>
                <img src="{{ asset('medias/logos/logo.svg') }}" width="300" height="68" loading="eager" alt="Logo Conciergerie In Paris Desktop" class="hidden shrink-0 lg:block h-7 w-auto" />
                <img src="{{ asset('medias/logos/logo_short.svg') }}" width="153" height="150" loading="eager" alt="Logo Conciergerie In Paris Mobile" class="block lg:hidden h-7 w-auto" />
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center bg-accent justify-center rounded-full p-2 text-gray-700 transition duration-100 hover:bg-accent/70">
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="#" class="text-sm/6 font-medium text-gray-900 hover:text-gray-500 transition duration-100">Product</a>
            <a href="#" class="text-sm/6 font-medium text-gray-900 hover:text-gray-500 transition duration-100">Features</a>
            <a href="#" class="text-sm/6 font-medium text-gray-900 hover:text-gray-500 transition duration-100">Marketplace</a>
            <a href="#" class="text-sm/6 font-medium text-gray-900 hover:text-gray-500 transition duration-100">Company</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-x-2 items-center">
            <a href="#" class="text-xs font-semibold text-white bg-primary rounded-full hover:bg-primary-hover transition duration-100 py-3 px-4">Obtenir mon estimation</a>
            <div class="relative" data-controller="language-switcher" data-action="mouseenter->language-switcher#open mouseleave->language-switcher#close">
                <div class="bg-accent size-9 shrink-0 rounded-full flex items-center justify-center cursor-pointer hover:bg-accent/70 transition duration-100">
                    {{ ux_icon('tabler:world', {'class':'size-5 rounded-full'}) }}
                </div>
                <div data-language-switcher-target="menu" data-action="mouseenter->language-switcher#cancelClose mouseleave->language-switcher#close" class="hidden absolute right-0 z-10 mt-4 w-40 origin-top-right rounded-xl bg-white shadow-md ring-1 ring-black/5 focus:outline-none transition duration-100 opacity-0 scale-95">
                    <div class="py-2 space-y-1 px-2">
                        <a href="{{ path(currentRoute, currentParameters|merge({'_locale': 'fr'})) }}"
                           class="group flex items-center justify-between px-2 py-2 text-sm text-gray-900 hover:bg-gray-50 transition duration-100 rounded-lg">
                            <span class="flex items-center gap-x-2 font-semibold">
                                {{ ux_icon('circle-flags:fr', {'class':'size-5 rounded-full'}) }}
                                FR
                            </span>
                            {% if app.request.locale == 'fr' %}
                                {{ ux_icon('lucide:check', {'class':'text-primary size-4.5 shrink-0'}) }}
                            {% endif %}
                        </a>
                        <a href="{{ path(currentRoute, currentParameters|merge({'_locale': 'en'})) }}"
                           class="group flex items-center justify-between px-2 py-2 text-sm text-gray-900 hover:bg-gray-50 transition duration-100 rounded-lg">
                            <span class="flex items-center gap-x-2">
                                {{ ux_icon('circle-flags:en', {'class':'size-5 rounded-full'}) }}
                                EN
                            </span>
                            {% if app.request.locale == 'en' %}
                                {{ ux_icon('lucide:check', {'class':'text-primary size-4.5 shrink-0'}) }}
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <el-dialog>
        <dialog id="mobile-menu" class="m-0 p-0 backdrop:bg-transparent lg:hidden">
            <div tabindex="0" class="fixed inset-0 focus:outline focus:outline-0">
                <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-background py-5 px-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                    <div class="flex items-center justify-between">
                        <a href="#" class="-m-1.5 p-1.5">
                            <span class="sr-only">Conciergerie In Paris</span>
                            <img src="{{ asset('medias/logos/logo_short.svg') }}" width="300" height="68" loading="eager" alt="Logo Conciergerie In Paris Mobile" class="shrink-0 lg:block h-7 w-auto" />
                        </a>
                        <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-full p-2 hover:bg-accent/70 transition duration-100 text-gray-700 bg-accent">
                            <span class="sr-only">Close menu</span>
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/10">
                            <div class="space-y-2 py-6">
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-medium text-gray-900 hover:bg-white transition duration-100">Product</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-medium text-gray-900 hover:bg-white transition duration-100">Features</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-medium text-gray-900 hover:bg-white transition duration-100">Marketplace</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-medium text-gray-900 hover:bg-white transition duration-100">Company</a>
                            </div>
                            <div class="py-6 space-y-6">
                                <div class="-mx-3">
                                    <button type="button" command="--toggle" commandfor="lang" class="flex aria-expanded:bg-white cursor-pointer w-full items-center justify-between rounded-lg py-2 px-3.5 text-sm/7 font-semibold text-gray-900 hover:bg-white transition duration-100">
                                        <span class="flex items-center gap-x-4">
                                            <div class="bg-accent size-9 rounded-full flex items-center justify-center">
                                                {{ ux_icon('tabler:world', {'class':'size-5 rounded-full'}) }}
                                            </div>
                                            {% if app.request.locale == 'fr' %}
                                                FR
                                            {% endif %}
                                            {% if app.request.locale == 'en' %}
                                                EN
                                            {% endif %}
                                        </span>
                                        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 flex-none [[aria-expanded='true']_&]:rotate-180">
                                            <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                        </svg>
                                    </button>
                                    <el-disclosure id="lang" hidden class="mt-2 [&:not([hidden])]:block">
                                        <a href="{{ path(currentRoute, currentParameters|merge({'_locale': 'fr'})) }}"
                                           class="block rounded-lg py-2 px-3.5 text-sm/7 font-semibold text-gray-900 hover:bg-white cursor-pointer flex justify-between items-center">
                                            <span class="flex items-center gap-x-4">
                                                {{ ux_icon('circle-flags:fr', {'class':'size-5 rounded-full'}) }}
                                                FR
                                            </span>
                                            {% if app.request.locale == 'fr' %}
                                                {{ ux_icon('lucide:check', {'class':'text-primary size-4.5 shrink-0'}) }}
                                            {% endif %}
                                        </a>
                                        <a href="{{ path(currentRoute, currentParameters|merge({'_locale': 'en'})) }}"
                                           class="block rounded-lg py-2 px-3.5 text-sm/7 font-semibold text-gray-900 hover:bg-white cursor-pointer flex justify-between items-center">
                                            <span class="flex items-center gap-x-4">
                                                {{ ux_icon('circle-flags:en', {'class':'size-5 rounded-full'}) }}
                                                EN
                                            </span>
                                            {% if app.request.locale == 'en' %}
                                                {{ ux_icon('lucide:check', {'class':'text-primary size-4.5 shrink-0'}) }}
                                            {% endif %}
                                        </a>
                                    </el-disclosure>
                                </div>
                                <a href="#" class="-mx-3 block px-3 py-2.5 text-base/7 font-semibold text-white text-center hover:bg-gray-50 transition duration-100 rounded-full bg-primary hover:bg-primary-hover">Obtenir une estimation</a>
                            </div>
                        </div>
                    </div>
                </el-dialog-panel>
            </div>
        </dialog>
    </el-dialog>
</header>
